
#logo-fideltec{
    position: absolute;
    height: 74px;
    margin-top: -36px;
    margin-left: 50px;
  }
.nav-left{
margin-bottom: 0;
color: #8d97ad;
font-size: 14px;
font-weight: 400;
}

.user{
  font-size: 16px;
  color: #8d97ad;
  text-align: center;
  font-weight: 400;
  box-shadow: 0 1px 1px #ced4da;
}

/* 

@media only screen and (min-width: 400px) {
  #logo-fideltec {
    margin-left: -420px;
    
  }
} */