<div class="skin-default card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">fideltec</p>
        </div>
    </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <section id="wrapper">
    <div
      class="login-register"
      style="
        background-image: url(../assets/images/background/luxury-hotel-1080P-wallpaper.png);
      "
    >
      <img
        src="../assets/images/fideltec.png"
        style="position: fixed; top: 0; left: 39px; max-height: 125px"
        alt="logo"
      />
      <div class="login-box card">
        <div class="card-body">
          <form
            class="form-horizontal form-material"
            id="loginform"
            action="Liste-Hotels.html"
          >
            <h3 class="text-center m-b-20">Sign In</h3>
            <ul class="nav nav-tabs customtab" role="tablist">
              <li class="nav-item">
                <a
                  id="Wincom"
                  class="nav-link active"
                  data-toggle="tab"
                  href="#"
                >
                  <span class="hidden-xs-down">Wincom</span></a
                >
              </li>
              <li class="nav-item">
                <a id="Admin" class="nav-link" data-toggle="tab" href="#">
                  <span class="hidden-xs-down">Administrateur</span></a
                >
              </li>
              <li class="nav-item">
                <a id="Subadmin" class="nav-link" data-toggle="tab" href="#"
                  ><span class="hidden-xs-down">Sous-administrateur</span></a
                >
              </li>
            </ul>
            <div class="form-group" style="margin-top: 30px">
              <div class="col-xs-12">
                <input
                  class="form-control"
                  type="text"
                  required=""
                  placeholder="Nom d'utilisateur"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <i
                  id="pass1-show"
                  class="fas fa-eye"
                  style="
                    position: absolute;
                    font-size: 16px;
                    margin-top: 14px;
                    margin-left: 387px;
                  "
                ></i>
                <input
                  class="form-control"
                  type="password"
                  id="pass"
                  required=""
                  placeholder="Mot de passe"
                />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="d-flex no-block align-items-center">
                  <div class="ml-auto">
                    <a
                      href="javascript:void(0)"
                      id="to-recover"
                      class="text-muted"
                      ><i class="fas fa-lock m-r-5"></i> mot de passe oublié</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button
                  class="btn btn-block btn-lg btn-info btn-rounded"
                  type="submit"
                >
                  Log In
                </button>
              </div>
            </div>
          </form>
          <form class="form-horizontal" id="recoverform" action="index.html">
            <div class="form-group">
              <div class="col-xs-12">
                <h3>Récupération compte</h3>
                <p class="text-muted">Entrez votre e-mail!</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input
                  class="form-control"
                  type="text"
                  required=""
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button
                  class="
                    btn btn-primary btn-lg btn-block
                    text-uppercase
                    waves-effect waves-light
                  "
                  type="submit"
                >
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<router-outlet></router-outlet>
